INITIAL_FAMILY_PASSCODE=change-me
INITIAL_ADMIN_PIN=123456
SECRET_KEY=generate-with-openssl-rand-hex-32
POSTGRES_PASSWORD=change-me
PUBLIC_URL=https://read.example.com
HTTP_PORT=8160
BACKUP_DIR=./backups
APP_UID=1000
APP_GID=1000
